# Core App 
streamlit==1.39.0

# Data Science 
numpy==1.26.4
pandas
scikit-learn
xgboost==1.7.6
joblib
dill

#  Deep Learning 
tensorflow==2.20.0   # Includes compatible Keras (≥3.10)

# Visualization & Images 
matplotlib
seaborn
Pillow